@{
    ViewBag.Title = "Ana Sayfa";
}
<div class="container">
    <div class="row" style="margin-top:50px;">
        <h3>En Çok Satan Ürünler</h3>

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#fantastik" role="tab" data-toggle="tab" aria-controls="fantastik">Fantastik Kitaplar</a>
            </li>
            <li role="presentation">
                <a href="#klasik" role="tab" data-toggle="tab" aria-controls="klasik">Klasik Kitaplar</a>
            </li>
            <li role="presentation">
                <a href="#cizgiroman" role="tab" data-toggle="tab" aria-controls="cizgi">Çizgi Roman</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="fantastik">
                <div class="row" style="margin-top:10px;">
                    @{
                        foreach (var item in TempData["Fantastik"] as IEnumerable<MvcETicaretSenaErcihanCelik.Models.Product>)
                        {
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="@Url.Content(item.ImageUrl)" alt="@Url.Content(item.AltText)" />

                                    <div class="caption">
                                        <div style="height:75px;">
                                            <h4>@item.ProductName - @string.Format("{0:C2}", item.UnitPrice)</h4>
                                        </div>
                                        <div style="height:100px; overflow:auto;">
                                            <p>
                                                @item.ShortDescription
                                            </p>
                                        </div>
                                        <div style="margin-top:10px;">
                                            <a href="@Url.Action("ProductDetail", "Product", new { id = item.ProductID })" class="btn btn-primary center-block" role="button">Ürün Detayı</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="klasik">
                <div class="row" style="margin-top:10px;">
                    @{
                        foreach (var item in TempData["Klasik"] as IEnumerable<MvcETicaretSenaErcihanCelik.Models.Product>)
                        {
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="@Url.Content(item.ImageUrl)" alt="@Url.Content(item.AltText)" />

                                    <div class="caption">
                                        <div style="height:75px;">
                                            <h4>@item.ProductName - @string.Format("{0:C2}", item.UnitPrice)</h4>
                                        </div>
                                        <div style="height:100px; overflow:auto;">
                                            <p>
                                                @item.ShortDescription
                                            </p>
                                        </div>
                                        <div style="margin-top:10px;">
                                            <a href="@Url.Action("ProductDetail", "Product", new { id = item.ProductID })" class="btn btn-primary center-block" role="button">Ürün Detayı</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="cizgiroman">
                <div class="row" style="margin-top:10px;">
                    @{
                        foreach (var item in TempData["Cizgi"] as IEnumerable<MvcETicaretSenaErcihanCelik.Models.Product>)
                        {
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="@Url.Content(item.ImageUrl)" alt="@Url.Content(item.AltText)" />

                                    <div class="caption">
                                        <div style="height:75px;">
                                            <h4>@item.ProductName - @string.Format("{0:C2}", item.UnitPrice)</h4>
                                        </div>
                                        <div style="height:100px; overflow:auto;">
                                            <p>
                                                @item.ShortDescription
                                            </p>
                                        </div>
                                        <div style="margin-top:10px;">
                                            <a href="@Url.Action("ProductDetail", "Product", new { id = item.ProductID })" class="btn btn-primary center-block" role="button">Ürün Detayı</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>