@model MvcETicaretSenaErcihanCelik.Models.Product
@{
    ViewBag.Title = "Ürün Detayı";
}

<div class="container">
    <div class="row" style="margin-top:50px;">
        <div class="col-md-5 thumbnail">
            <img src="@Url.Content(Model.ImageUrl)" alt="@Model.AltText" />
        </div>
        <div class="col-md-7">
            <h2>@Model.ProductName</h2>

            @for (int i = 0; i < 5; i++)
            {
                <span class="glyphicon glyphicon-star" style="font-size:20pt;"></span>
            }

            <br /><br /><br />

            <p class="lead"><strong>Fiyatı: </strong> @string.Format("{0:C2}", Model.UnitPrice)</p>

            <p class="lead">
                <span style="background-color:black; color:white;">
                    <strong>Stok Miktarı: </strong> @Model.UnitInStock @Model.QuantityPerUnit
                </span>
            </p>

            <p class="lead">
                <strong>Miktar: </strong> <input type="number" min="1" max="@Model.UnitInStock" value="1" />
            </p>

            <br /><br />

            @{
                if (Session["kullanici"] != null)
                {
                    <p>
                        @{
                            if (Model.UnitInStock == 0)
                            {
                                @Html.ActionLink("Sepete Ekle", "", "", new { id = Model.ProductID }, new { @class = "btn btn-success" , disable="disabled"})
                                
                            }
                            else
                            { @Html.ActionLink("Sepete Ekle", "AddToCart", "Shopping", new { id = Model.ProductID }, new { @class = "btn btn-success" })

                            }
                        }                       
                        
                     
                    </p>
                }
                else
                {
                    <p>
                        @Html.ActionLink("Sepete Ekle", "", "", new { id = Model.ProductID }, new { @class = "btn btn-success", disabled = "disabled" })

                        @Html.ActionLink("İstek Listesine Ekle", "", "", new { id = Model.ProductID }, new { @class = "btn btn-warning", disabled = "disabled" })
                    </p>
                }
            }
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <ul class="nav nav-tabs">
                <li>
                    <a href="#description" data-toggle="tab">Ürün Açıklaması</a>
                </li>
                <li>
                    <a href="#review" data-toggle="tab">Yorumlar</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="description">
                    @Html.Raw(Model.LongDescription)
                </div>
                <div class="tab-pane fade" id="review">
                    @{
                        foreach (var item in TempData["Reviews"] as IEnumerable<MvcETicaretSenaErcihanCelik.Models.Review>)
                        {
                            <p class="lead">@item.Name</p>
                            <p>@item.Review1</p>
                            <hr />
                        }

                        <hr />

                        if (Session["kullanici"] != null)
                        {
                            <h3>Yorum Ekle</h3>
                            <hr />
                            using (Html.BeginForm("AddReview", "Product", new { id = Model.ProductID }, FormMethod.Post))
                            {
                                <p>
                                    <strong>Ürünü Oyla: </strong>
                                    <input type="number" value="5" min="1" max="5" name="rating" class="form-control" />
                                </p>
                                <div class="form-group">
                                    <label><b>Adınız: </b></label>
                                    <input type="text" name="name" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label><b>Yorumunuz: </b></label>
                                    <textarea rows="3" required name="review" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-success form-control" value="GÖNDER" />
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

