@model IEnumerable<MvcETicaretSenaErcihanCelik.Models.Wishlist>
@{
    ViewBag.Title = "İstek Listeniz";
}

<div class="container">
    <div class="row" style="margin-top:50px;">
        <h2>İstek Listeniz</h2>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Listeden Çıkar</th>
                    <th>Ürün Görseli</th>
                    <th>Ürün Adı</th>
                    <th>Ürün Fiyatı</th>
                    <th>Stok Miktarı</th>
                    <th>Sepete Ekle</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("RemoveToWishlist","Shopping", new { id= item.ProductID})">
                                    <span class="glyphicon glyphicon-trash" style="color:red; font-size:17pt;"></span>
                                </a>
                            </td>
                            <td>
                                <img src="@Url.Content(item.Product.ImageUrl)" alt="@Url.Content(item.Product.AltText)" class="img-thumbnail" width="70" />
                            </td>
                            <td>
                                @item.Product.ProductName
                            </td>
                            <td>
                                @string.Format("{0:C2}", item.Product.UnitPrice)
                            </td>
                            <td>
                                @item.Product.UnitInStock  @item.Product.QuantityPerUnit
                            </td>
                            <td>
                                <a href="@Url.Action("AddToCartFromWishlist","Shopping",new { id= item.ProductID})">
                                    <span class="glyphicon glyphicon-shopping-cart" style="color:mediumseagreen; font-size:17pt;"></span>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
